# Node Dependencies
node_modules

# Typescript Transpiled Code
dist

# Jest Coverage Reports
coverage

#Jest Mongo Config
globalConfig.json

# Mongo Data
data
!src/**/data
!tests/**/data

#VsCode
.vscode